<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .c-footer {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 1rem;
            color: #23282c;
            background: #f0f3f5;
            border-top: 1px solid #c8ced3;
        }
    </style>
</head>
<body>
<footer th:fragment="footer" class="c-footer">
    <div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
    <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
</footer>
</body>
</html>
