<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title th:text="${title}">后台管理系统</title>
    <!--coreUI 模板的样式引入 start-->
    <!-- popper.min.js first, then coreui.min.js 引入在jquery 和 bootstrap之前 -->
    <link rel="stylesheet" href="coreui/coreui.min.css">
    <script src="coreui/popper.min.js"></script>
    <script src="coreui/coreui.min.js"></script>
    <!--coreUI 模板样式引入 end-->

    <!--可选 jquery和bootstrap可以不引入 start-->
<!--    <link rel="stylesheet" href="/crms/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>-->
<!--    <script src="/crms/webjars/jquery/3.4.0/jquery.min.js"></script>-->
<!--    <script src="/crms/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>-->
    <!--jquery bootstrap end-->

</head>
</html>
