<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/layouts/head :: commonHead(后台管理系统主页)">

</head>
<body class="c-app">

<div th:replace="/layouts/side_menu :: menus"></div>

<div class="c-wrapper c-fixed-components">

    <div th:replace="/layouts/header :: header"></div>

    <div class="c-body">
        <main class="c-main">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Simple Table</div>
                <div class="card-body">
                   主页
                </div>
            </div>
        </main>
    </div>
    <footer class="c-footer" th:include="/layouts/footer :: footer"></footer>

</div>

<!--<![endif]-->
</body>
</html>
